HostName      : {{ inventory_hostname }} 
IPaddr        : {{ ansible_host }}
Template      : {{ template }}

# Hardware
####################
CPU core      : {{ num_cpus }}
RAM size      : {{ memory_mb }} MB

# OS setting
####################
Pagefile      : {{ (memory_mb+300)|int|abs }} MB

# Attached Disks
####################
  Disk 0:
    Size      : {{ disk_size }} GB
    type      : thick
    Attach_on : 0/0
  Letter      : D
    patition  : GPT
    filesystem: NTFS
    size      : -1

{% for item in Partition %}
  Disk {{ loop.index }}:
    Size      : {{ item.Disk.size_gb }} GB
    type      : {{ item.Disk.type }}
    Attach_on : {{ item.Disk.scsi_controller }}/{{ item.Disk.unit_number }}
  Letter      : {{ item.Part.letter }}
    patition  : {{ item.Part.partition_style }}
    filesystem: {{ item.Part.fs_type }}
    size      : {{ item.Part.partition_size }}
{% endfor %}

# Deploy target
####################
Datastore   : {{ datastore }}

# NIC names
####################
{% for item in Network %}
  Interface: {{ item.names.after }}
    PortGroup       :  {{ item.interface.name }}
    dvswitch_name   :  {{ item.interface.dvswitch_name }}
    device_type     :  {{ item.interface.device_type }}
    ip              :  {{ item.interface.ip }}
    netmask         :  {{ item.interface.netmask }}
    gateway         :  {{ item.interface.gateway }}
    start_connected: true

{% endfor %}