---
export_nic:
{% for item in Network %}
  - name:           "{{ item.interface.name }}"
    type:           "static"
    dvswitch_name:  "{{ item.interface.dvswitch_name }}"
    device_type:    "{{ item.interface.device_type }}"
    ip:             "{{ item.interface.ip }}"
    netmask:        "{{ item.interface.netmask }}"
    gateway:        "{{ item.interface.gateway }}"
    start_connected: yes
    allow_guest_control: yes
{% endfor %}

export_disk:
{% for item in Disks %}
  - size_gb:          '{{ item.Disk.size_gb }}'
    type:             '{{ item.Disk.type }}'
    datastore:        '{{ item.Disk.datastore }}'
    state:            '{{ item.Disk.state }}'
    scsi_controller:  '{{ item.Disk.scsi_controller }}'
    unit_number:      '{{ item.Disk.unit_number }}'
    scsi_type:        'paravirtual'
{% endfor %}
